<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Featured Artists
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let artist of AllFeaturedArtists">
   <ion-row>
    <ion-col>
      <p class="title size-16"><strong>Name:</strong>{{artist.name}}</p>
      <p class="title size-16"><strong>Artwork type:</strong>{{artist.artwork_type}}</p>
      <p class="title size-16"><strong>Contact Info:</strong>{{artist.contact_info}}</p>
      <p class="title size-16"><strong>DOB:</strong>{{artist.dob | date :"medium"}}</p>
      <p class="title size-16"><strong>Gender:</strong>{{artist.gender}}</p>
      <p class="title size-16"><strong>Special Notes:</strong>{{artist.special_notes}}</p>
      <h4 class="featured-artist" *ngIf="artist.is_featured_artist === 1">Featured Artist</h4>
    </ion-col>
   </ion-row>
  </ion-card>

</ion-content>

